.form {
  width: 100%;
}

.divTextAreas {
  width: 50%;
}

.divInputValor {
  position: relative;
  max-width: 100%;
}

.inputValue {
  max-width: 70%;
}

.moeda {
  position: absolute;
  top: 8px;
  right: 29px;
}

@media (min-width: 768px) {
  .form {
    width: 360px;
  }

  .divInputValor {
    max-width: 100%;
  }

  .inputValue {
    max-width: 100%;
  }

  .moeda {
    right: 0px;
  }
}
