.text-1 {
  font-weight: 700;
  font-size: 1.75rem;
}

.text-2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.text-4 {
  font-weight: 700;
  font-size: 0.75rem;
}

.headline {
  font-weight: 400;
  font-size: 1rem;
  color: var(--grey-3);
}

.body {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--grey-3);
}
